﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <h1 class="text-center">DOWNLOAD</h1>

    <div class="d-flex justify-content-center mt-lg-5">
        <button type="button" class="btn btn-success" onclick="window.location.href='/Home/DownloadFile'">DOWNLOAD ARQUIVO SHAREPOINT</button>
    </div>
</div>
